.wrapper {
    width: auto;
    height: 100vh;
    background:#E2576A;
  }
  
  
  .wrapper-content {
    display: flex;
    margin:auto;
    padding: 0;
  }
  
  // .logo {
  //   display:flex;
  //   margin-left: 25px;;
  //   width: 100px;
  //   height: 10px;
  //   font-size: xx-large;
  //   font-weight:bold;
  //   font-family: 'Oregano';
  //   padding-top: 15px
  // }
  
  .wrapper-content img{
    overflow: hidden;
   
  }
  
  .section {
    flex-direction: column;
    display: flex;
    background:#E2576A;
    font-family: 'Oregano';
    justify-content: center;
    }
  
    .section h1 {
      margin: 0em;
       }
  
    .section h4 {
      margin: 0em;
      color:  #FFFFFF;
      font-family: auto;
      
    }
  
  
  .button-general {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
  }
  
  .button-general button{
    background-color: rgba(245, 245, 245, 0.70);
    border-radius: 2px;
    height: 30px;
    width: 100px;
    box-shadow: 4px 4px 7px 3px rgba(33, 107, 163, 0.20);
    border-color: none;
    border-style: none;
  }
  