// .petcard{
//     width: 250px;
//       border-radius: 4px;
//     background-color: #fff;
//     margin: 10px;
//     padding: 10px;
//    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// img{
//     width: 150px;
//     height: 150px;
//     object-fit: cover;
//     border-radius: 4px;
//     margin: 5px;
// }
// >p{
//     font-size: 12px;

// }
// }
// .petInfo{
// text-align: left;

// }
.container-sitters{
    background-color:#EFC4C0;
}
.button-block{
  display: flex;
  align-items: right;
  justify-content: center;
  margin: 20px 0;

  .buttonAddSitters {
    width: 250px;
    font-size: 20px;
    margin: auto;
  }
}

.comment {
    font-style: italic;
    font-weight: 100;
    color: rgb(32, 28, 28);
}
.sitters {
    width: 250px;
    height: 310px;
    border-radius: 4px;
    background-color: #fff;
    margin: 10px;
    padding: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 4px;
        margin: 0;
    }
    .sitersInfo {
margin-top: 10px;
margin-bottom: 10px;
        > p {
            margin-bottom: 5px;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 400;
        }
    }
    button {
        font-size: 10px;
        padding: 2px 4px;
    }
    .commentsCount {
        color: rgb(53, 53, 241);
        margin-left: 50px;
        font-size: 12px;
    }
    .avatar-siters-container {
        margin-top: 10px;
        display: flex;


        h2 {
            margin-top: 10px;
            margin-left: 20px;
        }
    }
}
.commentOut {
    height: 90px;
    overflow-y: auto;
    overflow-x: hidden;

    &-p {
        border-radius: 1px solid grey;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        padding: 5px 3px;
        font-style: italic;
        text-align: left;
        word-wrap: break-word;
        font-size: 13px;
    }
}
input {
    width: 170px;
    margin-left: 20px;
    font-size: 10px;
}
